* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.lifestyle-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.lifestyle-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.lifestyle-icon {
  font-size: 40px;
}
.back-imd-set{
  background-image: url(./backimg.png);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;

}
.promo-card {
  border-radius: 10px;
}
.promo-text {
  flex: 1;
}

.card-setting{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

}
.card-setting:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.cards-set:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.cards-set{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.set-hovr:hover{
  transform: scale(1.02);
  cursor: pointer;
}
.hero-text{
  font-size: 70px;
  font-weight: bolder;
}
.psitn-1{
  position: relative;
}
.psitn-2{
position: absolute;
top: 135px;
left: 38px;
}
.back-clr{background-color:rgb(227, 238, 243);}
.back-clr-1{background-color: rgb(245, 239, 223);}
#formCard {
  display: none; /* Initially hidden */
}
@media (max-width: 680px) {
  .hero-text {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }
}
